html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    overflow-x: hidden;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
------------------------------------------------------------------------------
CSS starts here---------------------------------------------------------------
------------------------------------------------------------------------------
*/

.menuContainer {
    display: grid;
    grid-template-columns: 10fr 80fr 10fr;
    grid-template-rows: 5fr 10fr 80fr 5fr;
    grid-template-areas:
        ". . ."
        ". header ."
        ". list ."
        ". . .";
    height: 100vh;
}
.buttons {
    grid-area: header;
    border: solid black 1px;
}
.lists {
    grid-area: list;
    border: solid black 1px;
}
.list {
    height: 30px;
    border-bottom: solid lightgrey 1px;
    display: flex;
    align-items: center;
}
.selectGerman, .selectEnglish, .selectVariable {
    height: calc(100% / 3);
    border: solid lightgrey 1px;
}
.selected {
    border: solid blue 1px;
    background-color: lightblue;
}

.listPreviewContainer {
    grid-template-columns: 2fr 2fr 20fr 2fr 2fr 58fr 4fr;
    grid-template-rows: 2fr 6fr 25px 86fr 4fr 2fr;
    grid-template-areas:
        ". . . . . . ."
        ". sbT innerSB sbR . header ."
        ". sbT innerSB sbR . addNew ."
        ". sbT innerSb sbR . pane ."
        ". sbL innerSb sbB . toolbar ."
        ". . . . . . .";
    display: none;
    height: 100vh;
}
.sidebar {
    border: solid lightgrey 1px;
    grid-area: sbT / sbT / sbB / sbB;
    display: grid;
    grid-template-columns: 5fr 90fr 5fr;
    grid-template-rows: 15fr 20fr 45fr 20fr;
    grid-template-areas:
        "header header header"
        ". modes ."
        ". language ."
        ". start .";
}
.sbHeader {
    border: solid lightgrey 1px;
    grid-area: header;
}
.sbModes {
    border: solid lightgrey 1px;
    grid-area: modes;
}
.sbLanguage {
    border: solid lightgrey 1px;
    grid-area: language;
}
.sbStart {
    border: solid lightgrey 1px;
    grid-area: start;
}
.questionsHeader {
    border: solid lightgrey 1px;
    grid-area: header;
}
.addNewQuestion {
    grid-area: addNew;
    display: flex;
    align-items: center;
}
.setGerman, .setEnglish {
    width: 35%;
    border-right: solid black 1px;
    height: 100%;
}
.setGerman > input, .setEnglish > input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: 10px;
}
.questions {
    border: solid lightgrey 1px;
    grid-area: pane;
    overflow-y: overlay;
}
.questionPreview {
    height: 25px;
}
.questionPreview, .questionsHeader {
    display: flex;
    align-items: center;
    border-bottom: solid black 1px;
}
.questionText {
    width: 35%;
    height: 100%;
    border-right: solid black 1px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.arrow {
    height: 100%;
    width: 5%;
    background-color: green;
}
.intervalDisplay {
    height: 100%;
    width: 7%;
    border: solid lightgrey 1px;
}
.lock {
    height: 100%;
    width: 5%;
    border: solid red 1px;
}
.isLocked {
    background-color: red;
}
.delete {
    height: 100%;
    width: 5%;
    border: solid pink 1px;
}
.toolbar {
    border: solid lightgrey 1px;
    grid-area: toolbar;
}

.quizContainer {
    display: none;
    grid-template-columns: 10fr 80fr 10fr; 
    grid-template-rows: 95fr 15fr;
    grid-template-areas:
        "display display display"
        "points input submit";
    height: 100vh;
}
.output {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 600;
    font-size: 2em;
    grid-area: display;
    white-space: pre-line;
}
.input {
    text-align: center;
    grid-area: input;
}

.streakBox {
    grid-area: points;
    display: grid;
    grid-template-columns: 30fr 20fr 20fr 30fr;
    grid-template-rows: 30fr 20fr 20fr 30fr;
    grid-template-areas: 
        ". . . ."
        ". streak1 streak2 ."
        ". streak3 streak3 ."
        ". . . .";
}
.streak1, .streak2, .streak3 {
    border: solid green 1px;
    transition: all 0.2s ease;
    transform: scale(1)
}
.streak1 {
    grid-area: streak1;
}
.streak2 {
    grid-area: streak2;
}
.streak3 {
    grid-area: streak3;
}

.back {
    position: absolute;
    top: 1%;
    right: 1%;
    width: 5%;
    height: 5%;
    border: solid lightgrey 1px;
}

.activeInput > input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: 10px;
    /* text-align: center; */
}