html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    overflow-x: hidden;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
------------------------------------------------------------------------------
CSS starts here---------------------------------------------------------------
------------------------------------------------------------------------------
*/

.container {
    display: grid;
    grid-template-columns: 10fr 80fr 10fr; 
    grid-template-rows: 95fr 15fr;
    grid-template-areas:
        "display display display"
        "points input submit";
    height: 100vh;
}
.output {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 2em;
    grid-area: display;
}
.input {
    text-align: center;
    grid-area: input;
}

.streakBox {
    grid-area: points;
    display: grid;
    grid-template-columns: 30fr 20fr 20fr 30fr;
    grid-template-rows: 30fr 20fr 20fr 30fr;
    grid-template-areas: 
        ". . . ."
        ". streak1 streak2 ."
        ". streak3 streak3 ."
        ". . . .";
}
.streak1, .streak2, .streak3 {
    border: solid green 1px;
    transition: all 0.2s ease;
    transform: scale(1)
}
.streak1 {
    grid-area: streak1;
}
.streak2 {
    grid-area: streak2;
}
.streak3 {
    grid-area: streak3;
}